 .container-signin {
    
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
  }
  
  .container-signin h2 {
    text-align: center;
    color: #3a3f9e;
    margin-bottom: 20px;
  }
  
  .signin-email, .signin-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signin-complete-button{
    width: 100%;
    padding: 12px;
    background-color: #54f016;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .signin-complete-button:hover {
    background-color: #45a049;
  }
  .forgot-password-button {
    background-color:#646cff;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: underline;
  }
  
  .forgot-password-button:hover {
    /* color: #020202; */
    background-color: #3a3f9e;
  }
  
  
  .success-message {
  
    /* background-color: #646cff; */
    color: #ffffff;
    margin-top: 10px;
  }
  
  .error-message {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    border: 2px solid rgb(255, 0, 0);
    background-color: red;
  }
  
